<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listings Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/listingsstyle.css">
  </head>
  <body>
    <br></br>
    <h1>All Listings</h1>
    <a href="/index" class="btn btn-info">Back to Profile</a>
    <br></br>
    <ul class="container">
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
        <li><img src="" width="300" height="300" alt="" />Listing</li>
    </ul>
  </body>
</html>
