<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/loginandsignup.css">
    <title>Log In</title>
  </head>
  <body>
    <br></br>
    <br></br>
    <h2>Log In</h2>
    <br></br>
    <div class="container">
    <form method="POST" action="/login">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-block btn-primary" value="Log In">
      </div>
    </form>
    <a href = "/signup">Sign Up</a>
  </div>
  </body>
</html>
