
.container {
    overflow:hidden;
    list-style:none;
}

.container li {
    float:left;
    text-align:center;
    margin:0.8em;
}

.container img {
    display:block;
    border-radius: 25px;
}

.btn-info {
  margin-left: 900px;
}
h1{
  margin-left: 430px;
}
