.btn {
  margin-top: 1em;
}
h6 {
  text-align: center;
}
h3 {
  text-align: center;
}
.row {
  text-align: left;
}
btn-success {
  margin-left: 5px;
}
.row {
  margin-right: 100px;
}
body {
}
.btn-warning {
  margin-left: 900px;
}
.btn-danger {
  margin-left: 10px;
}
.btn-info {
  margin-left: 10px;
}
